body{
    margin:0 auto;
    font-family: sans-serif;
}
.main > *{
   margin: 0px;
   padding: 0px;
}
.site{
    background-color: #D9D9D9;
    min-height: 100vh;
}
.header{
    background-color: white;
    height: 25vh;
}
.header > div{
    width: 100%;
    text-align: center;
    min-height: 19vh
}
.header > div > div{
    display: inline-block;
}
.header > div > div > div{
    display: flex;
}
.header > div h1{
    vertical-align: middle;
    text-align: center;
    /*line-height: 10vh;*/
    font-size: 5vh;
}
.header > div img{
    margin: 20px;
    max-height: calc(25vh - 48px - 20px * 2);
}
nav{
    display: flex;
    background-color: #D9D9D9;
    min-height: 6vh;
}
nav div{
    width:5px;
}
nav a{
    background-color: #808080;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.5vw;
    width: calc((100vw - 30px)/7);
}
nav .active{
    background-color: #D9D9D9;
    color: #808080;
}
.main{
    padding-bottom: 30px;
    width: 50%;
    margin: 0 auto;
    min-height: calc(72vh - 1.5rem - 1em - 30px);
    padding-top: calc(3vh + 1em);
}
.main p{
    margin-bottom: 30px;
}
.main h3{
    margin-bottom: 10px;
}
.main h4{
    margin-bottom: 5px;
}
.footer{
    min-height: 1.5rem;
    text-align: center;
}
.main ul{
    list-style-position: inside;
}
.grid{
    display: grid;
    grid-template-rows: calc((32vh - 1.5rem)/2) 50vh calc((32vh - 1.5rem)/2);
    grid-template-columns: repeat(3,calc(100% / 3));
}
.grid > * {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%
}
.grid h1{
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	padding: 10px;
	border-color: rgba(200,200,200,100)
}
.bar > *{
    width: 33%;
    text-align: center;
    background-color: white;
}
.mainSite{
    background-color: transparent;
}
.mainSite .main{
    width: 100% !important;
    padding-bottom: 0px;
    padding-top: 0px;
    min-height: calc(82vh - 1.5rem);
}
.mainSite .footer{
    background-color: white;
}
.mainSite .main a{
    text-decoration: none;
    color: black;
}
.mainSite .main a:visited{
    color: black;
}
.mainHeader{
    background-color: white;
}
.mainHeader > div{
    margin: 0 auto;
    width: 45%;
    align-content: center;
    display: flex;
    background-color: white;
    height: 18vh;
}
.mainHeader > div > *{
    margin-top: 20px;
}
.mainHeader .title{
    font-size: 48px;
    font-weight: bold
}
.mainHeader img{
    max-height: 60%;
    margin-left: 20px;
}
#mapOverlay{
    background-color: transparent;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    cursor:url(cursor.png), pointer;
}
#mapClose{
    z-index: -10;
    position: absolute;
    left: 0px;
    bottom: 0px;
    cursor: pointer;
    background-color: white;
    padding: 20px;
    font-size: 24px;
    border-radius: 0px 8px 0px 0px;
}
#map{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -20;
    width: 100%;
    height:100vh;
}
.grid{
    display: -ms-grid;
    -ms-grid-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    -ms-grid-rows: calc((32vh - 1.5rem)/2) 50vh calc((32vh - 1.5rem)/2);
}
#mapOverlay{
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
}
.ie-osm{
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
}
.ie-useOSM{
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
}
.ie-help{
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
}
.ie-improve{
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
}
.ie-projects{
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
}
.ie-developer{
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
}
.mobile{display:none}
@media(max-width:700px){
    .header h1{
        font-size: 5vw!important;
        line-height: calc((25vh - 48px - 20px * 2)/2) !important;
    }
    .desktop{display:none!important}
    .mobile{display:block}
    .header .menubutton{
        width:100%;
        background-color: #D9D9D9
    }
    .header .menuButton > div{
        font-size: 28px;
        font-weight: bold;
    }
    .header .menuButton nav{
        display:block;
        visibility: hidden;
        opacity: 0;
        position:relative;
        border-bottom: 1px;
        border-top: 1px;
        border-left: 0px;
        border-right: 0px;
        border-color: black;
        border-style: solid;
    }
    .header .menuButton nav a{
        display: block;
        width: 100%;
        font-size: 20px;
        background-color: #D9D9D9;
        padding-left:0px;
        padding-right:0px;
    }
    .header .menuButton:focus nav{
        visibility: visible;
        opacity: 1;
        transition: visibility 0.2s linear;
        transition: opacity 0.2s linear;
    }
    .header .menuButton:focus-within nav{
        visibility: visible;
        opacity: 1;
        transition: visibility 0.2s linear;
        transition: opacity 0.2s linear;
    }
	.main{
		width:90%;
	}
    .mainSite .main .grid{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: inherit;
    }
    #mapOverlay{flex-grow: 5555;}
    .mainSite .main .grid h1{
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 6vw;
    }
    .mainHeader > div{
        width: 90%
    }
    .mainHeader .title{
        font-size: calc(1.8vw + 2.5vh);
    }
	#mapClose{
		font-size: 15px;
		padding: 10px;
	}
}
@media(max-height: 550px){
    .grid h1{
        font-size: 1.5em !important;
    }
    .mainHeader > div,.header{
        height: 35vh;
    }
    .mainHeader .title{
        font-size: calc(1.8vw + 2.4vh);
    }
    .grid{
		display: grid!important;
        grid-template-rows: 120px auto auto;
    }
    #mapClose{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #mapOverlay{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .ie-osm{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .ie-useOSM{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .ie-help{
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .ie-improve{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .ie-projects{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .ie-developer{
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;
    }
}
